+------------------------------------------+
|          НАКЛАДНАЯ № {{ x.number }}
|   Дата: {{ x.created }}
|   Адрес доставки: {{ x.address }}
+----+--------------+-----+-------+--------+
|    | Наименование | Кол | Цена  | Сумма  |
+----+--------------+-----+-------+--------+
{% for pos in x._contents -%}
| ?? | {{ pos.title }} | {{ pos.quantity }} | {{ pos.price }} | {{ pos.summa }} |
{% endfor -%}
+----+--------------+-----+-------+--------+
                          Итого:    ????

    ?????? /-Подпись-/